In [1]:
import pandas as pd
import requests
import re
import time
import numpy as np
import pymysql
from sqlalchemy import create_engine
import getpass

In [2]:
def explorar_df(df):
    print(df.info())

    print('Primeras filas')
    print(df.head())

    print('Describe()')
    print(df.describe(include='all').T)

    print('Nulos')
    nulos = df.isnull().sum()
    print(nulos[nulos > 0] if nulos.any() else 'Notnnull')

    print('Duplicados')
    print(df.duplicated().sum())
    
    print('Tamaño')
    print(f"Filas: {df.shape[0]} | Columnas: {df.shape[1]}")

In [3]:
def limpiar_dataset(df):
    df_clean = df.copy()
    df_clean.columns = (df_clean.columns
                        .str.strip()
                        .str.lower()
                        .str.replace(' ', '_')
                        .str.replace('.', '', regex=False))
    df_clean.duplicated().sum()
    df_clean = df_clean.drop_duplicates()
    df_clean = df_clean.dropna(how='all')
    return df_clean

In [4]:
def iso8601_to_seconds(duration):
    """Convierte formatos tipo PT10M30S a segundos totales."""
    patron = re.compile(r'PT(?:(\d+)H)?(?:(\d+)M)?(?:(\d+)S)?')
    match = patron.match(duration)
    if not match: return 0
    horas, minutos, segundos = match.groups(default=0)
    return int(horas) * 3600 + int(minutos) * 60 + int(segundos)

# DF mental_health

In [5]:
mental_health = 'mental_health.csv'
df_mentalhealth = pd.read_csv (mental_health)

In [6]:
explorar_df(df_mentalhealth)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 51 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Age                            10000 non-null  int64
 1   Gender                         10000 non-null  object
 2   Country                        10000 non-null  object
 3   Education                      10000 non-null  object
 4   Marital_Status                 10000 non-null  object
 5   Income_Level                   10000 non-null  object
 6   Employment_Status              10000 non-null  object
 7   Work_Hours_Per_Week            10000 non-null  int64
 8   Remote_Work                    10000 non-null  object
 9   Job_Satisfaction               10000 non-null  int64
 10  Work_Stress_Level              10000 non-null  int64
 11  Work_Life_Balance              10000 non-null  int64
 12  Ever_Bullied_At_Work           10000 non-null  int64
 13  Company_Mental_Health_Support  10000 non-null  object
 14  Exercise_Per_Week              10000 non-null  object
 15  Sleep_Hours_Night              10000 non-null  float64
 16  Caffeine_Drinks_Day            10000 non-null  int64
 17  Alcohol_Frequency              10000 non-null  object
 18  Smoking                        10000 non-null  object
 19  Screen_Time_Hours_Day          10000 non-null  float64
 20  Social_Media_Hours_Day         10000 non-null  float64
 21  Hobby_Time_Hours_Week          10000 non-null  int64
 22  Diet_Quality                   10000 non-null  object
 23  Financial_Stress               10000 non-null  int64
 24  Feeling_Sad_Down               10000 non-null  int64
 25  Loss_Of_Interest               10000 non-null  int64
 26  Sleep_Trouble                  10000 non-null  int64
 27  Fatigue                        10000 non-null  int64
 28  Poor_Appetite_Or_Overeating    10000 non-null  int64
 29  Feeling_Worthless              10000 non-null  int64
 30  Concentration_Difficulty       10000 non-null  int64
 31  Anxious_Nervous                10000 non-null  int64
 32  Panic_Attacks                  10000 non-null  int64
 33  Mood_Swings                    10000 non-null  int64
 34  Irritability                   10000 non-null  int64
 35  Obsessive_Thoughts             10000 non-null  int64
 36  Compulsive_Behavior            10000 non-null  int64
 37  Self_Harm_Thoughts             10000 non-null  int64
 38  Suicidal_Thoughts              10000 non-null  int64
 39  Family_History_Mental_Illness  10000 non-null  int64
 40  Previously_Diagnosed           10000 non-null  int64
 41  Ever_Sought_Treatment          10000 non-null  int64
 42  On_Therapy_Now                 10000 non-null  int64
 43  On_Medication                  10000 non-null  int64
 44  Trauma_History                 10000 non-null  int64
 45  Social_Support                 10000 non-null  int64
 46  Close_Friends_Count            10000 non-null  int64
 47  Feel_Understood                10000 non-null  int64
 48  Loneliness                     10000 non-null  int64
 49  Discuss_Mental_Health          10000 non-null  object
 50  Has_Mental_Health_Issue        10000 non-null  int64
dtypes: float64(3), int64(35), object(13)
memory usage: 3.9+ MB
None
Primeras filas
   Age  Gender  Country     Education Marital_Status Income_Level  \
0   40    Male      USA  Some College         Single       Middle
1   33    Male    India      Bachelor        Married       Middle
2   42    Male    Other   High School         Single          Low
3   53    Male  Germany      Bachelor         Single       Middle
4   32  Female    India      Bachelor         Single         High

  Employment_Status  Work_Hours_Per_Week Remote_Work  Job_Satisfaction  ...  \
0         Full-time                   27          No                 6  ...
1        Unemployed                   47          No                 6  ...
2         Full-time                   53          No                 1  ...
3        Unemployed                   42          No                10  ...
4           Student                   13          No                 4  ...

   Ever_Sought_Treatment  On_Therapy_Now  On_Medication Trauma_History  \
0                      1               0              0              0
1                      0               0              0              0
2                      1               0              0              1
3                      0               1              0              0
4                      0               0              0              0

  Social_Support  Close_Friends_Count  Feel_Understood Loneliness  \
0              9                    3                4          6
1              3                    2                7          7
2              5                    3                6          9
3              1                    3               10          5
4              1                    5                1          6

  Discuss_Mental_Health  Has_Mental_Health_Issue
0             Sometimes                        1
1             Sometimes                        1
2             Sometimes                        1
3                 Never                        1
4             Sometimes                        1

[5 rows x 51 columns]
Describe()
                                 count unique        top  freq     mean  \
Age                            10000.0    NaN        NaN   NaN  34.9479
Gender                           10000      4     Female  4892      NaN
Country                          10000      6        USA  2519      NaN
Education                        10000      5   Bachelor  3493      NaN
Marital_Status                   10000      4     Single  4523      NaN
Income_Level                     10000      3     Middle  5059      NaN
Employment_Status                10000      5  Full-time  4473      NaN
Work_Hours_Per_Week            10000.0    NaN        NaN   NaN  39.6579
Remote_Work                      10000      3         No  4958      NaN
Job_Satisfaction               10000.0    NaN        NaN   NaN   5.5027
Work_Stress_Level              10000.0    NaN        NaN   NaN   5.4939
Work_Life_Balance              10000.0    NaN        NaN   NaN   5.4894
Ever_Bullied_At_Work           10000.0    NaN        NaN   NaN   0.2474
Company_Mental_Health_Support    10000      3         No  5526      NaN
Exercise_Per_Week                10000      4  1-2 times  3493      NaN
Sleep_Hours_Night              10000.0    NaN        NaN   NaN  6.81545
Caffeine_Drinks_Day            10000.0    NaN        NaN   NaN   2.0233
Alcohol_Frequency                10000      4     Rarely  3984      NaN
Smoking                          10000      3      Never  5934      NaN
Screen_Time_Hours_Day          10000.0    NaN        NaN   NaN  7.06459
Social_Media_Hours_Day         10000.0    NaN        NaN   NaN  3.14181
Hobby_Time_Hours_Week          10000.0    NaN        NaN   NaN   4.7803
Diet_Quality                     10000      4    Average  4060      NaN
Financial_Stress               10000.0    NaN        NaN   NaN   5.4826
Feeling_Sad_Down               10000.0    NaN        NaN   NaN   4.9896
Loss_Of_Interest               10000.0    NaN        NaN   NaN   5.0182
Sleep_Trouble                  10000.0    NaN        NaN   NaN   5.0008
Fatigue                        10000.0    NaN        NaN   NaN   5.0033
Poor_Appetite_Or_Overeating    10000.0    NaN        NaN   NaN   4.9684
Feeling_Worthless              10000.0    NaN        NaN   NaN   4.9842
Concentration_Difficulty       10000.0    NaN        NaN   NaN    4.951
Anxious_Nervous                10000.0    NaN        NaN   NaN   4.9874
Panic_Attacks                  10000.0    NaN        NaN   NaN   0.5469
Mood_Swings                    10000.0    NaN        NaN   NaN   5.0421
Irritability                   10000.0    NaN        NaN   NaN   5.0322
Obsessive_Thoughts             10000.0    NaN        NaN   NaN   4.9422
Compulsive_Behavior            10000.0    NaN        NaN   NaN   4.9599
Self_Harm_Thoughts             10000.0    NaN        NaN   NaN   0.0781
Suicidal_Thoughts              10000.0    NaN        NaN   NaN   0.0952
Family_History_Mental_Illness  10000.0    NaN        NaN   NaN   0.3044
Previously_Diagnosed           10000.0    NaN        NaN   NaN    0.248
Ever_Sought_Treatment          10000.0    NaN        NaN   NaN   0.3622
On_Therapy_Now                 10000.0    NaN        NaN   NaN    0.191
On_Medication                  10000.0    NaN        NaN   NaN   0.1843
Trauma_History                 10000.0    NaN        NaN   NaN   0.2506
Social_Support                 10000.0    NaN        NaN   NaN   5.4597
Close_Friends_Count            10000.0    NaN        NaN   NaN   4.0193
Feel_Understood                10000.0    NaN        NaN   NaN   5.4697
Loneliness                     10000.0    NaN        NaN   NaN   5.4497
Discuss_Mental_Health            10000      4  Sometimes  3574      NaN
Has_Mental_Health_Issue        10000.0    NaN        NaN   NaN   0.9216

                                     std   min   25%   50%   75%   max
Age                             11.15639  18.0  26.0  34.0  43.0  75.0
Gender                               NaN   NaN   NaN   NaN   NaN   NaN
Country                              NaN   NaN   NaN   NaN   NaN   NaN
Education                            NaN   NaN   NaN   NaN   NaN   NaN
Marital_Status                       NaN   NaN   NaN   NaN   NaN   NaN
Income_Level                         NaN   NaN   NaN   NaN   NaN   NaN
Employment_Status                    NaN   NaN   NaN   NaN   NaN   NaN
Work_Hours_Per_Week            10.016711   0.0  33.0  40.0  46.0  74.0
Remote_Work                          NaN   NaN   NaN   NaN   NaN   NaN
Job_Satisfaction                2.884341   1.0   3.0   6.0   8.0  10.0
Work_Stress_Level                2.88163   1.0   3.0   6.0   8.0  10.0
Work_Life_Balance               2.875572   1.0   3.0   5.0   8.0  10.0
Ever_Bullied_At_Work            0.431523   0.0   0.0   0.0   0.0   1.0
Company_Mental_Health_Support        NaN   NaN   NaN   NaN   NaN   NaN
Exercise_Per_Week                    NaN   NaN   NaN   NaN   NaN   NaN
Sleep_Hours_Night               1.377975   3.0   5.9   6.8   7.7  11.0
Caffeine_Drinks_Day             1.427432   0.0   1.0   2.0   3.0   8.0
Alcohol_Frequency                    NaN   NaN   NaN   NaN   NaN   NaN
Smoking                              NaN   NaN   NaN   NaN   NaN   NaN
Screen_Time_Hours_Day           2.955874   1.0   5.0   7.0   9.1  16.0
Social_Media_Hours_Day          2.254204   0.0   1.3   3.0   4.7  12.0
Hobby_Time_Hours_Week           3.563552   0.0   2.0   5.0   7.0  19.0
Diet_Quality                         NaN   NaN   NaN   NaN   NaN   NaN
Financial_Stress                2.886231   1.0   3.0   5.0   8.0  10.0
Feeling_Sad_Down                3.156468   0.0   2.0   5.0   8.0  10.0
Loss_Of_Interest                3.148342   0.0   2.0   5.0   8.0  10.0
Sleep_Trouble                   3.164459   0.0   2.0   5.0   8.0  10.0
Fatigue                         3.133189   0.0   2.0   5.0   8.0  10.0
Poor_Appetite_Or_Overeating     3.150967   0.0   2.0   5.0   8.0  10.0
Feeling_Worthless               3.171207   0.0   2.0   5.0   8.0  10.0
Concentration_Difficulty        3.155376   0.0   2.0   5.0   8.0  10.0
Anxious_Nervous                 3.156111   0.0   2.0   5.0   8.0  10.0
Panic_Attacks                   0.980967   0.0   0.0   0.0   1.0   4.0
Mood_Swings                     3.165964   0.0   2.0   5.0   8.0  10.0
Irritability                    3.147055   0.0   2.0   5.0   8.0  10.0
Obsessive_Thoughts              3.180043   0.0   2.0   5.0   8.0  10.0
Compulsive_Behavior             3.154598   0.0   2.0   5.0   8.0  10.0
Self_Harm_Thoughts              0.268342   0.0   0.0   0.0   0.0   1.0
Suicidal_Thoughts               0.293506   0.0   0.0   0.0   0.0   1.0
Family_History_Mental_Illness   0.460176   0.0   0.0   0.0   1.0   1.0
Previously_Diagnosed            0.431873   0.0   0.0   0.0   0.0   1.0
Ever_Sought_Treatment            0.48066   0.0   0.0   0.0   1.0   1.0
On_Therapy_Now                  0.393109   0.0   0.0   0.0   0.0   1.0
On_Medication                   0.387748   0.0   0.0   0.0   0.0   1.0
Trauma_History                   0.43338   0.0   0.0   0.0   1.0   1.0
Social_Support                  2.882986   1.0   3.0   5.0   8.0  10.0
Close_Friends_Count             1.998431   0.0   3.0   4.0   5.0  13.0
Feel_Understood                 2.872021   1.0   3.0   5.0   8.0  10.0
Loneliness                      2.862322   1.0   3.0   5.0   8.0  10.0
Discuss_Mental_Health                NaN   NaN   NaN   NaN   NaN   NaN
Has_Mental_Health_Issue         0.268813   0.0   1.0   1.0   1.0   1.0
Nulos
Notnnull
Duplicados
0
Tamaño
Filas: 10000 | Columnas: 51

In [7]:
df_mentalhealth.columns

Index(['Age', 'Gender', 'Country', 'Education', 'Marital_Status',
       'Income_Level', 'Employment_Status', 'Work_Hours_Per_Week',
       'Remote_Work', 'Job_Satisfaction', 'Work_Stress_Level',
       'Work_Life_Balance', 'Ever_Bullied_At_Work',
       'Company_Mental_Health_Support', 'Exercise_Per_Week',
       'Sleep_Hours_Night', 'Caffeine_Drinks_Day', 'Alcohol_Frequency',
       'Smoking', 'Screen_Time_Hours_Day', 'Social_Media_Hours_Day',
       'Hobby_Time_Hours_Week', 'Diet_Quality', 'Financial_Stress',
       'Feeling_Sad_Down', 'Loss_Of_Interest', 'Sleep_Trouble', 'Fatigue',
       'Poor_Appetite_Or_Overeating', 'Feeling_Worthless',
       'Concentration_Difficulty', 'Anxious_Nervous', 'Panic_Attacks',
       'Mood_Swings', 'Irritability', 'Obsessive_Thoughts',
       'Compulsive_Behavior', 'Self_Harm_Thoughts', 'Suicidal_Thoughts',
       'Family_History_Mental_Illness', 'Previously_Diagnosed',
       'Ever_Sought_Treatment', 'On_Therapy_Now', 'On_Medication',
       'Trauma_History', 'Social_Support', 'Close_Friends_Count',
       'Feel_Understood', 'Loneliness', 'Discuss_Mental_Health',
       'Has_Mental_Health_Issue'],
      dtype='object')

In [8]:
##Eliminamos las columnas que no nos interesan 
columns_drop = ['Work_Hours_Per_Week', 'Remote_Work'
, 'Job_Satisfaction', 'Work_Stress_Level', 'Work_Life_Balance', 
'Ever_Bullied_At_Work', 'Company_Mental_Health_Support', 
'Diet_Quality', 'Financial_Stress', 'Family_History_Mental_Illness', 
'Previously_Diagnosed', 'Ever_Sought_Treatment', 'Trauma_History']

In [9]:
df_mentalhealth = df_mentalhealth.drop(columns_drop, axis=1)

In [10]:
##Verifiamos los cambios 
df_mentalhealth.columns

Index(['Age', 'Gender', 'Country', 'Education', 'Marital_Status',
       'Income_Level', 'Employment_Status', 'Exercise_Per_Week',
       'Sleep_Hours_Night', 'Caffeine_Drinks_Day', 'Alcohol_Frequency',
       'Smoking', 'Screen_Time_Hours_Day', 'Social_Media_Hours_Day',
       'Hobby_Time_Hours_Week', 'Feeling_Sad_Down', 'Loss_Of_Interest',
       'Sleep_Trouble', 'Fatigue', 'Poor_Appetite_Or_Overeating',
       'Feeling_Worthless', 'Concentration_Difficulty', 'Anxious_Nervous',
       'Panic_Attacks', 'Mood_Swings', 'Irritability', 'Obsessive_Thoughts',
       'Compulsive_Behavior', 'Self_Harm_Thoughts', 'Suicidal_Thoughts',
       'On_Therapy_Now', 'On_Medication', 'Social_Support',
       'Close_Friends_Count', 'Feel_Understood', 'Loneliness',
       'Discuss_Mental_Health', 'Has_Mental_Health_Issue'],
      dtype='object')

In [11]:
##Limpiamos de manera genérica nuestro dataset y unificamos columnas
df_mentalhealth = limpiar_dataset(df_mentalhealth)

In [12]:
##Comprobamos la limpieza
explorar_df(df_mentalhealth)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 38 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   age                          10000 non-null  int64
 1   gender                       10000 non-null  object
 2   country                      10000 non-null  object
 3   education                    10000 non-null  object
 4   marital_status               10000 non-null  object
 5   income_level                 10000 non-null  object
 6   employment_status            10000 non-null  object
 7   exercise_per_week            10000 non-null  object
 8   sleep_hours_night            10000 non-null  float64
 9   caffeine_drinks_day          10000 non-null  int64
 10  alcohol_frequency            10000 non-null  object
 11  smoking                      10000 non-null  object
 12  screen_time_hours_day        10000 non-null  float64
 13  social_media_hours_day       10000 non-null  float64
 14  hobby_time_hours_week        10000 non-null  int64
 15  feeling_sad_down             10000 non-null  int64
 16  loss_of_interest             10000 non-null  int64
 17  sleep_trouble                10000 non-null  int64
 18  fatigue                      10000 non-null  int64
 19  poor_appetite_or_overeating  10000 non-null  int64
 20  feeling_worthless            10000 non-null  int64
 21  concentration_difficulty     10000 non-null  int64
 22  anxious_nervous              10000 non-null  int64
 23  panic_attacks                10000 non-null  int64
 24  mood_swings                  10000 non-null  int64
 25  irritability                 10000 non-null  int64
 26  obsessive_thoughts           10000 non-null  int64
 27  compulsive_behavior          10000 non-null  int64
 28  self_harm_thoughts           10000 non-null  int64
 29  suicidal_thoughts            10000 non-null  int64
 30  on_therapy_now               10000 non-null  int64
 31  on_medication                10000 non-null  int64
 32  social_support               10000 non-null  int64
 33  close_friends_count          10000 non-null  int64
 34  feel_understood              10000 non-null  int64
 35  loneliness                   10000 non-null  int64
 36  discuss_mental_health        10000 non-null  object
 37  has_mental_health_issue      10000 non-null  int64
dtypes: float64(3), int64(25), object(10)
memory usage: 2.9+ MB
None
Primeras filas
   age  gender  country     education marital_status income_level  \
0   40    Male      USA  Some College         Single       Middle
1   33    Male    India      Bachelor        Married       Middle
2   42    Male    Other   High School         Single          Low
3   53    Male  Germany      Bachelor         Single       Middle
4   32  Female    India      Bachelor         Single         High

  employment_status exercise_per_week  sleep_hours_night  caffeine_drinks_day  \
0         Full-time         1-2 times                6.2                    3
1        Unemployed         1-2 times                9.6                    3
2         Full-time         3-4 times                7.7                    1
3        Unemployed             Never                6.4                    1
4           Student         1-2 times                7.7                    0

   ... self_harm_thoughts suicidal_thoughts  on_therapy_now  on_medication  \
0  ...                  0                 0               0              0
1  ...                  0                 0               0              0
2  ...                  0                 0               0              0
3  ...                  0                 0               1              0
4  ...                  0                 0               0              0

   social_support  close_friends_count  feel_understood  loneliness  \
0               9                    3                4           6
1               3                    2                7           7
2               5                    3                6           9
3               1                    3               10           5
4               1                    5                1           6

   discuss_mental_health  has_mental_health_issue
0              Sometimes                        1
1              Sometimes                        1
2              Sometimes                        1
3                  Never                        1
4              Sometimes                        1

[5 rows x 38 columns]
Describe()
                               count unique        top  freq     mean  \
age                          10000.0    NaN        NaN   NaN  34.9479
gender                         10000      4     Female  4892      NaN
country                        10000      6        USA  2519      NaN
education                      10000      5   Bachelor  3493      NaN
marital_status                 10000      4     Single  4523      NaN
income_level                   10000      3     Middle  5059      NaN
employment_status              10000      5  Full-time  4473      NaN
exercise_per_week              10000      4  1-2 times  3493      NaN
sleep_hours_night            10000.0    NaN        NaN   NaN  6.81545
caffeine_drinks_day          10000.0    NaN        NaN   NaN   2.0233
alcohol_frequency              10000      4     Rarely  3984      NaN
smoking                        10000      3      Never  5934      NaN
screen_time_hours_day        10000.0    NaN        NaN   NaN  7.06459
social_media_hours_day       10000.0    NaN        NaN   NaN  3.14181
hobby_time_hours_week        10000.0    NaN        NaN   NaN   4.7803
feeling_sad_down             10000.0    NaN        NaN   NaN   4.9896
loss_of_interest             10000.0    NaN        NaN   NaN   5.0182
sleep_trouble                10000.0    NaN        NaN   NaN   5.0008
fatigue                      10000.0    NaN        NaN   NaN   5.0033
poor_appetite_or_overeating  10000.0    NaN        NaN   NaN   4.9684
feeling_worthless            10000.0    NaN        NaN   NaN   4.9842
concentration_difficulty     10000.0    NaN        NaN   NaN    4.951
anxious_nervous              10000.0    NaN        NaN   NaN   4.9874
panic_attacks                10000.0    NaN        NaN   NaN   0.5469
mood_swings                  10000.0    NaN        NaN   NaN   5.0421
irritability                 10000.0    NaN        NaN   NaN   5.0322
obsessive_thoughts           10000.0    NaN        NaN   NaN   4.9422
compulsive_behavior          10000.0    NaN        NaN   NaN   4.9599
self_harm_thoughts           10000.0    NaN        NaN   NaN   0.0781
suicidal_thoughts            10000.0    NaN        NaN   NaN   0.0952
on_therapy_now               10000.0    NaN        NaN   NaN    0.191
on_medication                10000.0    NaN        NaN   NaN   0.1843
social_support               10000.0    NaN        NaN   NaN   5.4597
close_friends_count          10000.0    NaN        NaN   NaN   4.0193
feel_understood              10000.0    NaN        NaN   NaN   5.4697
loneliness                   10000.0    NaN        NaN   NaN   5.4497
discuss_mental_health          10000      4  Sometimes  3574      NaN
has_mental_health_issue      10000.0    NaN        NaN   NaN   0.9216

                                  std   min   25%   50%   75%   max
age                          11.15639  18.0  26.0  34.0  43.0  75.0
gender                            NaN   NaN   NaN   NaN   NaN   NaN
country                           NaN   NaN   NaN   NaN   NaN   NaN
education                         NaN   NaN   NaN   NaN   NaN   NaN
marital_status                    NaN   NaN   NaN   NaN   NaN   NaN
income_level                      NaN   NaN   NaN   NaN   NaN   NaN
employment_status                 NaN   NaN   NaN   NaN   NaN   NaN
exercise_per_week                 NaN   NaN   NaN   NaN   NaN   NaN
sleep_hours_night            1.377975   3.0   5.9   6.8   7.7  11.0
caffeine_drinks_day          1.427432   0.0   1.0   2.0   3.0   8.0
alcohol_frequency                 NaN   NaN   NaN   NaN   NaN   NaN
smoking                           NaN   NaN   NaN   NaN   NaN   NaN
screen_time_hours_day        2.955874   1.0   5.0   7.0   9.1  16.0
social_media_hours_day       2.254204   0.0   1.3   3.0   4.7  12.0
hobby_time_hours_week        3.563552   0.0   2.0   5.0   7.0  19.0
feeling_sad_down             3.156468   0.0   2.0   5.0   8.0  10.0
loss_of_interest             3.148342   0.0   2.0   5.0   8.0  10.0
sleep_trouble                3.164459   0.0   2.0   5.0   8.0  10.0
fatigue                      3.133189   0.0   2.0   5.0   8.0  10.0
poor_appetite_or_overeating  3.150967   0.0   2.0   5.0   8.0  10.0
feeling_worthless            3.171207   0.0   2.0   5.0   8.0  10.0
concentration_difficulty     3.155376   0.0   2.0   5.0   8.0  10.0
anxious_nervous              3.156111   0.0   2.0   5.0   8.0  10.0
panic_attacks                0.980967   0.0   0.0   0.0   1.0   4.0
mood_swings                  3.165964   0.0   2.0   5.0   8.0  10.0
irritability                 3.147055   0.0   2.0   5.0   8.0  10.0
obsessive_thoughts           3.180043   0.0   2.0   5.0   8.0  10.0
compulsive_behavior          3.154598   0.0   2.0   5.0   8.0  10.0
self_harm_thoughts           0.268342   0.0   0.0   0.0   0.0   1.0
suicidal_thoughts            0.293506   0.0   0.0   0.0   0.0   1.0
on_therapy_now               0.393109   0.0   0.0   0.0   0.0   1.0
on_medication                0.387748   0.0   0.0   0.0   0.0   1.0
social_support               2.882986   1.0   3.0   5.0   8.0  10.0
close_friends_count          1.998431   0.0   3.0   4.0   5.0  13.0
feel_understood              2.872021   1.0   3.0   5.0   8.0  10.0
loneliness                   2.862322   1.0   3.0   5.0   8.0  10.0
discuss_mental_health             NaN   NaN   NaN   NaN   NaN   NaN
has_mental_health_issue      0.268813   0.0   1.0   1.0   1.0   1.0
Nulos
Notnnull
Duplicados
0
Tamaño
Filas: 10000 | Columnas: 38

In [13]:
##Comprobamos si la unicidad se corresponde con lo que a priori podemos pensar del df
df_mentalhealth.nunique()

age                             57
gender                           4
country                          6
education                        5
marital_status                   4
income_level                     3
employment_status                5
exercise_per_week                4
sleep_hours_night               81
caffeine_drinks_day              9
alcohol_frequency                4
smoking                          3
screen_time_hours_day          151
social_media_hours_day         114
hobby_time_hours_week           20
feeling_sad_down                11
loss_of_interest                11
sleep_trouble                   11
fatigue                         11
poor_appetite_or_overeating     11
feeling_worthless               11
concentration_difficulty        11
anxious_nervous                 11
panic_attacks                    5
mood_swings                     11
irritability                    11
obsessive_thoughts              11
compulsive_behavior             11
self_harm_thoughts               2
suicidal_thoughts                2
on_therapy_now                   2
on_medication                    2
social_support                  10
close_friends_count             14
feel_understood                 10
loneliness                      10
discuss_mental_health            4
has_mental_health_issue          2
dtype: int64

In [14]:
##Ya está listo este dataframe para usar 
df_mentalhealth

,age,gender,country,education,marital_status,income_level,employment_status,exercise_per_week,sleep_hours_night,caffeine_drinks_day,...,self_harm_thoughts,suicidal_thoughts,on_therapy_now,on_medication,social_support,close_friends_count,feel_understood,loneliness,discuss_mental_health,has_mental_health_issue
0,40,Male,USA,Some College,Single,Middle,Full-time,1-2 times,6.2,3,...,0,0,0,0,9,3,4,6,Sometimes,1
1,33,Male,India,Bachelor,Married,Middle,Unemployed,1-2 times,9.6,3,...,0,0,0,0,3,2,7,7,Sometimes,1
2,42,Male,Other,High School,Single,Low,Full-time,3-4 times,7.7,1,...,0,0,0,0,5,3,6,9,Sometimes,1
3,53,Male,Germany,Bachelor,Single,Middle,Unemployed,Never,6.4,1,...,0,0,1,0,1,3,10,5,Never,1
4,32,Female,India,Bachelor,Single,High,Student,1-2 times,7.7,0,...,0,0,0,0,1,5,1,6,Sometimes,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,50,Female,India,High School,Divorced,High,Student,Never,5.8,2,...,0,0,0,0,5,5,6,4,Sometimes,1
9996,18,Female,UK,Some College,Divorced,Middle,Full-time,1-2 times,8.9,5,...,0,1,0,0,1,3,10,2,Rarely,1
9997,26,Male,Brazil,Master,Married,High,Full-time,3-4 times,7.5,0,...,0,0,0,0,4,6,5,5,Rarely,0
9998,40,Female,Brazil,Some College,Single,Low,Full-time,Never,6.5,0,...,0,0,0,0,5,3,4,1,Sometimes,1
9999,42,Female,Other,PhD,Married,High,Full-time,5+ times,4.7,2,...,1,0,1,0,4,1,2,7,Sometimes,1

### Una vez limpio nuestro df, quiero quedarme con los registros de USA y United Kingdom

In [15]:
df_mentalhealth['country'].unique()

array(['USA', 'India', 'Other', 'Germany', 'UK', 'Brazil'], dtype=object)

In [16]:
filtered_country = ['USA', 'UK']
df_mentalhealth = df_mentalhealth[df_mentalhealth['country'].isin(filtered_country)]

In [17]:
df_mentalhealth.shape

(3977, 38)

# DF instagram

In [18]:
intagram_users = 'instagram_users_lifestyle.csv'
df_ig = pd.read_csv (intagram_users)

In [19]:
explorar_df(df_ig)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1547896 entries, 0 to 1547895
Data columns (total 58 columns):
 #   Column                          Non-Null Count    Dtype
---  ------                          --------------    -----
 0   user_id                         1547896 non-null  int64
 1   app_name                        1547896 non-null  object
 2   age                             1547896 non-null  int64
 3   gender                          1547896 non-null  object
 4   country                         1547896 non-null  object
 5   urban_rural                     1547896 non-null  object
 6   income_level                    1547896 non-null  object
 7   employment_status               1547896 non-null  object
 8   education_level                 1547896 non-null  object
 9   relationship_status             1547896 non-null  object
 10  has_children                    1547896 non-null  object
 11  exercise_hours_per_week         1547896 non-null  float64
 12  sleep_hours_per_night           1547896 non-null  float64
 13  diet_quality                    1547896 non-null  object
 14  smoking                         1547896 non-null  object
 15  alcohol_frequency               1547896 non-null  object
 16  perceived_stress_score          1547896 non-null  int64
 17  self_reported_happiness         1547896 non-null  int64
 18  body_mass_index                 1547896 non-null  float64
 19  blood_pressure_systolic         1547896 non-null  int64
 20  blood_pressure_diastolic        1547896 non-null  int64
 21  daily_steps_count               1547896 non-null  int64
 22  weekly_work_hours               1547896 non-null  float64
 23  hobbies_count                   1547896 non-null  int64
 24  social_events_per_month         1547896 non-null  int64
 25  books_read_per_year             1547896 non-null  int64
 26  volunteer_hours_per_month       1547896 non-null  float64
 27  travel_frequency_per_year       1547896 non-null  int64
 28  daily_active_minutes_instagram  1547896 non-null  float64
 29  sessions_per_day                1547896 non-null  int64
 30  posts_created_per_week          1547896 non-null  int64
 31  reels_watched_per_day           1547896 non-null  int64
 32  stories_viewed_per_day          1547896 non-null  int64
 33  likes_given_per_day             1547896 non-null  int64
 34  comments_written_per_day        1547896 non-null  int64
 35  dms_sent_per_week               1547896 non-null  int64
 36  dms_received_per_week           1547896 non-null  int64
 37  ads_viewed_per_day              1547896 non-null  int64
 38  ads_clicked_per_day             1547896 non-null  int64
 39  time_on_feed_per_day            1547896 non-null  int64
 40  time_on_explore_per_day         1547896 non-null  int64
 41  time_on_messages_per_day        1547896 non-null  int64
 42  time_on_reels_per_day           1547896 non-null  int64
 43  followers_count                 1547896 non-null  int64
 44  following_count                 1547896 non-null  int64
 45  uses_premium_features           1547896 non-null  object
 46  notification_response_rate      1547896 non-null  float64
 47  account_creation_year           1547896 non-null  int64
 48  last_login_date                 1547896 non-null  object
 49  average_session_length_minutes  1547896 non-null  float64
 50  content_type_preference         1547896 non-null  object
 51  preferred_content_theme         1547896 non-null  object
 52  privacy_setting_level           1547896 non-null  object
 53  two_factor_auth_enabled         1547896 non-null  object
 54  biometric_login_used            1547896 non-null  object
 55  linked_accounts_count           1547896 non-null  int64
 56  subscription_status             1547896 non-null  object
 57  user_engagement_score           1547896 non-null  float64
dtypes: float64(9), int64(29), object(20)
memory usage: 685.0+ MB
None
Primeras filas
   user_id   app_name  age      gender         country urban_rural  \
0        1  Instagram   51      Female           India       Rural
1        2  Instagram   64      Female  United Kingdom       Urban
2        3  Instagram   41      Female          Canada       Urban
3        4  Instagram   27  Non-binary     South Korea       Urban
4        5  Instagram   55        Male           India       Urban

   income_level   employment_status education_level relationship_status  ...  \
0          High             Retired      Bachelor’s              Single  ...
1        Middle  Full-time employed           Other            Divorced  ...
2        Middle             Student      Bachelor’s   In a relationship  ...
3        Middle          Unemployed        Master’s   In a relationship  ...
4  Upper-middle  Full-time employed      Bachelor’s              Single  ...

  last_login_date  average_session_length_minutes  content_type_preference  \
0      2025-11-02                             5.0                    Mixed
1      2025-03-22                            14.8                   Photos
2      2025-08-10                             5.0                    Mixed
3      2025-03-31                            25.9                  Stories
4      2025-03-19                            13.1                   Videos

  preferred_content_theme privacy_setting_level two_factor_auth_enabled  \
0                    Tech               Private                     Yes
1                 Fashion                Public                      No
2                   Other                Public                     Yes
3                    Tech               Private                      No
4                    Food                Public                     Yes

   biometric_login_used  linked_accounts_count  subscription_status  \
0                    No                      0                 Free
1                    No                      3                 Free
2                   Yes                      1                 Free
3                    No                      1                 Free
4                    No                      0                 Free

   user_engagement_score
0                   7.83
1                   1.43
2                   9.67
3                   0.94
4                   1.03

[5 rows x 58 columns]
Describe()
                                    count unique                 top     freq  \
user_id                         1547896.0    NaN                 NaN      NaN
app_name                          1547896      1           Instagram  1547896
age                             1547896.0    NaN                 NaN      NaN
gender                            1547896      4                Male   743169
country                           1547896     10       United States   386829
urban_rural                       1547896      3               Urban   850754
income_level                      1547896      5              Middle   465037
employment_status                 1547896      7  Full-time employed   629798
education_level                   1547896      9          Bachelor’s   541083
relationship_status               1547896      5              Single   670260
has_children                      1547896      2                  No  1156273
exercise_hours_per_week         1547896.0    NaN                 NaN      NaN
sleep_hours_per_night           1547896.0    NaN                 NaN      NaN
diet_quality                      1547896      5             Average   543910
smoking                           1547896      3                  No  1160179
alcohol_frequency                 1547896      5              Rarely   541778
perceived_stress_score          1547896.0    NaN                 NaN      NaN
self_reported_happiness         1547896.0    NaN                 NaN      NaN
body_mass_index                 1547896.0    NaN                 NaN      NaN
blood_pressure_systolic         1547896.0    NaN                 NaN      NaN
blood_pressure_diastolic        1547896.0    NaN                 NaN      NaN
daily_steps_count               1547896.0    NaN                 NaN      NaN
weekly_work_hours               1547896.0    NaN                 NaN      NaN
hobbies_count                   1547896.0    NaN                 NaN      NaN
social_events_per_month         1547896.0    NaN                 NaN      NaN
books_read_per_year             1547896.0    NaN                 NaN      NaN
volunteer_hours_per_month       1547896.0    NaN                 NaN      NaN
travel_frequency_per_year       1547896.0    NaN                 NaN      NaN
daily_active_minutes_instagram  1547896.0    NaN                 NaN      NaN
sessions_per_day                1547896.0    NaN                 NaN      NaN
posts_created_per_week          1547896.0    NaN                 NaN      NaN
reels_watched_per_day           1547896.0    NaN                 NaN      NaN
stories_viewed_per_day          1547896.0    NaN                 NaN      NaN
likes_given_per_day             1547896.0    NaN                 NaN      NaN
comments_written_per_day        1547896.0    NaN                 NaN      NaN
dms_sent_per_week               1547896.0    NaN                 NaN      NaN
dms_received_per_week           1547896.0    NaN                 NaN      NaN
ads_viewed_per_day              1547896.0    NaN                 NaN      NaN
ads_clicked_per_day             1547896.0    NaN                 NaN      NaN
time_on_feed_per_day            1547896.0    NaN                 NaN      NaN
time_on_explore_per_day         1547896.0    NaN                 NaN      NaN
time_on_messages_per_day        1547896.0    NaN                 NaN      NaN
time_on_reels_per_day           1547896.0    NaN                 NaN      NaN
followers_count                 1547896.0    NaN                 NaN      NaN
following_count                 1547896.0    NaN                 NaN      NaN
uses_premium_features             1547896      2                  No  1206687
notification_response_rate      1547896.0    NaN                 NaN      NaN
account_creation_year           1547896.0    NaN                 NaN      NaN
last_login_date                   1547896    369          2025-05-16     4382
average_session_length_minutes  1547896.0    NaN                 NaN      NaN
content_type_preference           1547896      6               Reels   258594
preferred_content_theme           1547896      8             Fitness   194543
privacy_setting_level             1547896      3              Public   516235
two_factor_auth_enabled           1547896      2                 Yes  1007062
biometric_login_used              1547896      2                  No   928167
linked_accounts_count           1547896.0    NaN                 NaN      NaN
subscription_status               1547896      3                Free  1160127
user_engagement_score           1547896.0    NaN                 NaN      NaN

                                       mean            std     min        25%  \
user_id                            773948.5  446839.230476     1.0  386974.75
app_name                                NaN            NaN     NaN        NaN
age                                38.98544      15.294528    13.0       26.0
gender                                  NaN            NaN     NaN        NaN
country                                 NaN            NaN     NaN        NaN
urban_rural                             NaN            NaN     NaN        NaN
income_level                            NaN            NaN     NaN        NaN
employment_status                       NaN            NaN     NaN        NaN
education_level                         NaN            NaN     NaN        NaN
relationship_status                     NaN            NaN     NaN        NaN
has_children                            NaN            NaN     NaN        NaN
exercise_hours_per_week             7.14348       3.994556     0.0        4.0
sleep_hours_per_night              6.999384       1.097098     3.0        6.3
diet_quality                            NaN            NaN     NaN        NaN
smoking                                 NaN            NaN     NaN        NaN
alcohol_frequency                       NaN            NaN     NaN        NaN
perceived_stress_score            19.987738      11.832578     0.0       10.0
self_reported_happiness            5.499804       2.871232     1.0        3.0
body_mass_index                   25.000837       3.976188    15.0       22.3
blood_pressure_systolic          124.491714      20.206989    90.0      107.0
blood_pressure_diastolic          79.500074       11.54874    60.0       70.0
daily_steps_count               8000.104562      89.397615  7566.0     7940.0
weekly_work_hours                 36.222014      15.080632     0.0       30.5
hobbies_count                       2.99614       1.730508     0.0        2.0
social_events_per_month            3.998807       2.000449     0.0        3.0
books_read_per_year               10.001597       3.160761     0.0        8.0
volunteer_hours_per_month          3.997591       2.413619     0.0        2.1
travel_frequency_per_year          2.999713       1.731983     0.0        2.0
daily_active_minutes_instagram   188.229792     110.127772     5.0      101.0
sessions_per_day                   10.32897       7.931112     1.0        5.0
posts_created_per_week             5.960338       3.888248     0.0        3.0
reels_watched_per_day            175.608146      76.220396    18.0      117.0
stories_viewed_per_day            101.16004      38.790746    12.0       70.0
likes_given_per_day              119.112153      56.146373     8.0       75.0
comments_written_per_day          34.212935      17.466488     0.0       20.0
dms_sent_per_week                  28.81592      12.246584     0.0       19.0
dms_received_per_week              30.58328        14.3285     0.0       19.0
ads_viewed_per_day                20.051228       9.864529     0.0       12.0
ads_clicked_per_day                4.765017       3.104442     0.0        2.0
time_on_feed_per_day              94.130373      56.498369     2.0       50.0
time_on_explore_per_day           37.620369      25.357877     1.0       18.0
time_on_messages_per_day          32.952025      21.445688     1.0       16.0
time_on_reels_per_day             56.476622      35.347818     1.0       29.0
followers_count                 2160.542605    3402.015893    10.0      543.0
following_count                 2604.941554    2751.922314    20.0      663.0
uses_premium_features                   NaN            NaN     NaN        NaN
notification_response_rate          0.50024       0.288783     0.0       0.25
account_creation_year           2018.466206       4.613253  2010.0     2015.0
last_login_date                         NaN            NaN     NaN        NaN
average_session_length_minutes    20.509713       8.697454     5.0       13.3
content_type_preference                 NaN            NaN     NaN        NaN
preferred_content_theme                 NaN            NaN     NaN        NaN
privacy_setting_level                   NaN            NaN     NaN        NaN
two_factor_auth_enabled                 NaN            NaN     NaN        NaN
biometric_login_used                    NaN            NaN     NaN        NaN
linked_accounts_count              1.975254       1.352058     0.0        1.0
subscription_status                     NaN            NaN     NaN        NaN
user_engagement_score              1.644642       1.812684    0.67        1.0

                                     50%         75%        max
user_id                         773948.5  1160922.25  1547896.0
app_name                             NaN         NaN        NaN
age                                 39.0        52.0       65.0
gender                               NaN         NaN        NaN
country                              NaN         NaN        NaN
urban_rural                          NaN         NaN        NaN
income_level                         NaN         NaN        NaN
employment_status                    NaN         NaN        NaN
education_level                      NaN         NaN        NaN
relationship_status                  NaN         NaN        NaN
has_children                         NaN         NaN        NaN
exercise_hours_per_week              6.6         9.7       24.1
sleep_hours_per_night                7.0         7.7       10.0
diet_quality                         NaN         NaN        NaN
smoking                              NaN         NaN        NaN
alcohol_frequency                    NaN         NaN        NaN
perceived_stress_score              20.0        30.0       40.0
self_reported_happiness              5.0         8.0       10.0
body_mass_index                     25.0        27.7       45.0
blood_pressure_systolic            124.0       142.0      159.0
blood_pressure_diastolic            79.0        90.0       99.0
daily_steps_count                 8000.0      8060.0     8473.0
weekly_work_hours                   38.7        46.0       80.0
hobbies_count                        3.0         4.0       10.0
social_events_per_month              4.0         5.0       15.0
books_read_per_year                 10.0        12.0       29.0
volunteer_hours_per_month            3.6         5.4       17.6
travel_frequency_per_year            3.0         4.0       15.0
daily_active_minutes_instagram     186.0       271.0      580.0
sessions_per_day                     9.0        14.0       50.0
posts_created_per_week               5.0         8.0       30.0
reels_watched_per_day              176.0       235.0      300.0
stories_viewed_per_day             104.0       139.0      150.0
likes_given_per_day                118.0       161.0      350.0
comments_written_per_day            33.0        47.0       80.0
dms_sent_per_week                   28.0        37.0       94.0
dms_received_per_week               30.0        41.0       90.0
ads_viewed_per_day                  19.0        27.0       50.0
ads_clicked_per_day                  4.0         7.0       20.0
time_on_feed_per_day                92.0       135.0      328.0
time_on_explore_per_day             34.0        53.0      171.0
time_on_messages_per_day            31.0        47.0      138.0
time_on_reels_per_day               54.0        80.0      222.0
followers_count                   1154.0      2459.0   208811.0
following_count                   1519.0      3451.0    10000.0
uses_premium_features                NaN         NaN        NaN
notification_response_rate           0.5        0.75        1.0
account_creation_year             2019.0      2022.0     2026.0
last_login_date                      NaN         NaN        NaN
average_session_length_minutes      20.4        27.6       52.0
content_type_preference              NaN         NaN        NaN
preferred_content_theme              NaN         NaN        NaN
privacy_setting_level                NaN         NaN        NaN
two_factor_auth_enabled              NaN         NaN        NaN
biometric_login_used                 NaN         NaN        NaN
linked_accounts_count                2.0         3.0        5.0
subscription_status                  NaN         NaN        NaN
user_engagement_score                1.1        1.29      18.67
Nulos
Notnnull
Duplicados
0
Tamaño
Filas: 1547896 | Columnas: 58

In [20]:
df_ig.columns

Index(['user_id', 'app_name', 'age', 'gender', 'country', 'urban_rural',
       'income_level', 'employment_status', 'education_level',
       'relationship_status', 'has_children', 'exercise_hours_per_week',
       'sleep_hours_per_night', 'diet_quality', 'smoking', 'alcohol_frequency',
       'perceived_stress_score', 'self_reported_happiness', 'body_mass_index',
       'blood_pressure_systolic', 'blood_pressure_diastolic',
       'daily_steps_count', 'weekly_work_hours', 'hobbies_count',
       'social_events_per_month', 'books_read_per_year',
       'volunteer_hours_per_month', 'travel_frequency_per_year',
       'daily_active_minutes_instagram', 'sessions_per_day',
       'posts_created_per_week', 'reels_watched_per_day',
       'stories_viewed_per_day', 'likes_given_per_day',
       'comments_written_per_day', 'dms_sent_per_week',
       'dms_received_per_week', 'ads_viewed_per_day', 'ads_clicked_per_day',
       'time_on_feed_per_day', 'time_on_explore_per_day',
       'time_on_messages_per_day', 'time_on_reels_per_day', 'followers_count',
       'following_count', 'uses_premium_features',
       'notification_response_rate', 'account_creation_year',
       'last_login_date', 'average_session_length_minutes',
       'content_type_preference', 'preferred_content_theme',
       'privacy_setting_level', 'two_factor_auth_enabled',
       'biometric_login_used', 'linked_accounts_count', 'subscription_status',
       'user_engagement_score'],
      dtype='object')

In [21]:
columns_ig_drop = ['app_name', 'has_children', 'exercise_hours_per_week',
                   'diet_quality', 'smoking', 'alcohol_frequency', 'perceived_stress_score',
                   'body_mass_index', 'blood_pressure_systolic', 'blood_pressure_diastolic', 
                   'daily_steps_count', 'weekly_work_hours', 'volunteer_hours_per_month', 
                   'travel_frequency_per_year','uses_premium_features', 'account_creation_year',
                   'last_login_date', 'privacy_setting_level', 'two_factor_auth_enabled',
                   'biometric_login_used', 'linked_accounts_count', 'subscription_status',
                   'user_engagement_score']

In [22]:
df_ig = df_ig.drop(columns_ig_drop, axis=1)

In [23]:
df_ig.columns

Index(['user_id', 'age', 'gender', 'country', 'urban_rural', 'income_level',
       'employment_status', 'education_level', 'relationship_status',
       'sleep_hours_per_night', 'self_reported_happiness', 'hobbies_count',
       'social_events_per_month', 'books_read_per_year',
       'daily_active_minutes_instagram', 'sessions_per_day',
       'posts_created_per_week', 'reels_watched_per_day',
       'stories_viewed_per_day', 'likes_given_per_day',
       'comments_written_per_day', 'dms_sent_per_week',
       'dms_received_per_week', 'ads_viewed_per_day', 'ads_clicked_per_day',
       'time_on_feed_per_day', 'time_on_explore_per_day',
       'time_on_messages_per_day', 'time_on_reels_per_day', 'followers_count',
       'following_count', 'notification_response_rate',
       'average_session_length_minutes', 'content_type_preference',
       'preferred_content_theme'],
      dtype='object')

In [24]:
df_ig = limpiar_dataset(df_ig)

In [25]:
explorar_df(df_ig)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1547896 entries, 0 to 1547895
Data columns (total 35 columns):
 #   Column                          Non-Null Count    Dtype
---  ------                          --------------    -----
 0   user_id                         1547896 non-null  int64
 1   age                             1547896 non-null  int64
 2   gender                          1547896 non-null  object
 3   country                         1547896 non-null  object
 4   urban_rural                     1547896 non-null  object
 5   income_level                    1547896 non-null  object
 6   employment_status               1547896 non-null  object
 7   education_level                 1547896 non-null  object
 8   relationship_status             1547896 non-null  object
 9   sleep_hours_per_night           1547896 non-null  float64
 10  self_reported_happiness         1547896 non-null  int64
 11  hobbies_count                   1547896 non-null  int64
 12  social_events_per_month         1547896 non-null  int64
 13  books_read_per_year             1547896 non-null  int64
 14  daily_active_minutes_instagram  1547896 non-null  float64
 15  sessions_per_day                1547896 non-null  int64
 16  posts_created_per_week          1547896 non-null  int64
 17  reels_watched_per_day           1547896 non-null  int64
 18  stories_viewed_per_day          1547896 non-null  int64
 19  likes_given_per_day             1547896 non-null  int64
 20  comments_written_per_day        1547896 non-null  int64
 21  dms_sent_per_week               1547896 non-null  int64
 22  dms_received_per_week           1547896 non-null  int64
 23  ads_viewed_per_day              1547896 non-null  int64
 24  ads_clicked_per_day             1547896 non-null  int64
 25  time_on_feed_per_day            1547896 non-null  int64
 26  time_on_explore_per_day         1547896 non-null  int64
 27  time_on_messages_per_day        1547896 non-null  int64
 28  time_on_reels_per_day           1547896 non-null  int64
 29  followers_count                 1547896 non-null  int64
 30  following_count                 1547896 non-null  int64
 31  notification_response_rate      1547896 non-null  float64
 32  average_session_length_minutes  1547896 non-null  float64
 33  content_type_preference         1547896 non-null  object
 34  preferred_content_theme         1547896 non-null  object
dtypes: float64(4), int64(22), object(9)
memory usage: 413.3+ MB
None
Primeras filas
   user_id  age      gender         country urban_rural  income_level  \
0        1   51      Female           India       Rural          High
1        2   64      Female  United Kingdom       Urban        Middle
2        3   41      Female          Canada       Urban        Middle
3        4   27  Non-binary     South Korea       Urban        Middle
4        5   55        Male           India       Urban  Upper-middle

    employment_status education_level relationship_status  \
0             Retired      Bachelor’s              Single
1  Full-time employed           Other            Divorced
2             Student      Bachelor’s   In a relationship
3          Unemployed        Master’s   In a relationship
4  Full-time employed      Bachelor’s              Single

   sleep_hours_per_night  ...  time_on_feed_per_day  time_on_explore_per_day  \
0                    7.7  ...                     2                        1
1                    8.6  ...                    31                       19
2                    6.7  ...                     3                        1
3                    6.5  ...                   108                       64
4                    6.8  ...                    78                       55

   time_on_messages_per_day  time_on_reels_per_day  followers_count  \
0                         1                      2              374
1                        16                     19             2585
2                         1                      1             3414
3                        52                     64              617
4                        22                     55             1157

   following_count  notification_response_rate  \
0              647                        0.34
1             3511                        0.56
2             6761                        0.73
3             1193                        0.73
4             1072                        0.65

   average_session_length_minutes  content_type_preference  \
0                             5.0                    Mixed
1                            14.8                   Photos
2                             5.0                    Mixed
3                            25.9                  Stories
4                            13.1                   Videos

   preferred_content_theme
0                     Tech
1                  Fashion
2                    Other
3                     Tech
4                     Food

[5 rows x 35 columns]
Describe()
                                    count unique                 top    freq  \
user_id                         1547896.0    NaN                 NaN     NaN
age                             1547896.0    NaN                 NaN     NaN
gender                            1547896      4                Male  743169
country                           1547896     10       United States  386829
urban_rural                       1547896      3               Urban  850754
income_level                      1547896      5              Middle  465037
employment_status                 1547896      7  Full-time employed  629798
education_level                   1547896      9          Bachelor’s  541083
relationship_status               1547896      5              Single  670260
sleep_hours_per_night           1547896.0    NaN                 NaN     NaN
self_reported_happiness         1547896.0    NaN                 NaN     NaN
hobbies_count                   1547896.0    NaN                 NaN     NaN
social_events_per_month         1547896.0    NaN                 NaN     NaN
books_read_per_year             1547896.0    NaN                 NaN     NaN
daily_active_minutes_instagram  1547896.0    NaN                 NaN     NaN
sessions_per_day                1547896.0    NaN                 NaN     NaN
posts_created_per_week          1547896.0    NaN                 NaN     NaN
reels_watched_per_day           1547896.0    NaN                 NaN     NaN
stories_viewed_per_day          1547896.0    NaN                 NaN     NaN
likes_given_per_day             1547896.0    NaN                 NaN     NaN
comments_written_per_day        1547896.0    NaN                 NaN     NaN
dms_sent_per_week               1547896.0    NaN                 NaN     NaN
dms_received_per_week           1547896.0    NaN                 NaN     NaN
ads_viewed_per_day              1547896.0    NaN                 NaN     NaN
ads_clicked_per_day             1547896.0    NaN                 NaN     NaN
time_on_feed_per_day            1547896.0    NaN                 NaN     NaN
time_on_explore_per_day         1547896.0    NaN                 NaN     NaN
time_on_messages_per_day        1547896.0    NaN                 NaN     NaN
time_on_reels_per_day           1547896.0    NaN                 NaN     NaN
followers_count                 1547896.0    NaN                 NaN     NaN
following_count                 1547896.0    NaN                 NaN     NaN
notification_response_rate      1547896.0    NaN                 NaN     NaN
average_session_length_minutes  1547896.0    NaN                 NaN     NaN
content_type_preference           1547896      6               Reels  258594
preferred_content_theme           1547896      8             Fitness  194543

                                       mean            std   min        25%  \
user_id                            773948.5  446839.230476   1.0  386974.75
age                                38.98544      15.294528  13.0       26.0
gender                                  NaN            NaN   NaN        NaN
country                                 NaN            NaN   NaN        NaN
urban_rural                             NaN            NaN   NaN        NaN
income_level                            NaN            NaN   NaN        NaN
employment_status                       NaN            NaN   NaN        NaN
education_level                         NaN            NaN   NaN        NaN
relationship_status                     NaN            NaN   NaN        NaN
sleep_hours_per_night              6.999384       1.097098   3.0        6.3
self_reported_happiness            5.499804       2.871232   1.0        3.0
hobbies_count                       2.99614       1.730508   0.0        2.0
social_events_per_month            3.998807       2.000449   0.0        3.0
books_read_per_year               10.001597       3.160761   0.0        8.0
daily_active_minutes_instagram   188.229792     110.127772   5.0      101.0
sessions_per_day                   10.32897       7.931112   1.0        5.0
posts_created_per_week             5.960338       3.888248   0.0        3.0
reels_watched_per_day            175.608146      76.220396  18.0      117.0
stories_viewed_per_day            101.16004      38.790746  12.0       70.0
likes_given_per_day              119.112153      56.146373   8.0       75.0
comments_written_per_day          34.212935      17.466488   0.0       20.0
dms_sent_per_week                  28.81592      12.246584   0.0       19.0
dms_received_per_week              30.58328        14.3285   0.0       19.0
ads_viewed_per_day                20.051228       9.864529   0.0       12.0
ads_clicked_per_day                4.765017       3.104442   0.0        2.0
time_on_feed_per_day              94.130373      56.498369   2.0       50.0
time_on_explore_per_day           37.620369      25.357877   1.0       18.0
time_on_messages_per_day          32.952025      21.445688   1.0       16.0
time_on_reels_per_day             56.476622      35.347818   1.0       29.0
followers_count                 2160.542605    3402.015893  10.0      543.0
following_count                 2604.941554    2751.922314  20.0      663.0
notification_response_rate          0.50024       0.288783   0.0       0.25
average_session_length_minutes    20.509713       8.697454   5.0       13.3
content_type_preference                 NaN            NaN   NaN        NaN
preferred_content_theme                 NaN            NaN   NaN        NaN

                                     50%         75%        max
user_id                         773948.5  1160922.25  1547896.0
age                                 39.0        52.0       65.0
gender                               NaN         NaN        NaN
country                              NaN         NaN        NaN
urban_rural                          NaN         NaN        NaN
income_level                         NaN         NaN        NaN
employment_status                    NaN         NaN        NaN
education_level                      NaN         NaN        NaN
relationship_status                  NaN         NaN        NaN
sleep_hours_per_night                7.0         7.7       10.0
self_reported_happiness              5.0         8.0       10.0
hobbies_count                        3.0         4.0       10.0
social_events_per_month              4.0         5.0       15.0
books_read_per_year                 10.0        12.0       29.0
daily_active_minutes_instagram     186.0       271.0      580.0
sessions_per_day                     9.0        14.0       50.0
posts_created_per_week               5.0         8.0       30.0
reels_watched_per_day              176.0       235.0      300.0
stories_viewed_per_day             104.0       139.0      150.0
likes_given_per_day                118.0       161.0      350.0
comments_written_per_day            33.0        47.0       80.0
dms_sent_per_week                   28.0        37.0       94.0
dms_received_per_week               30.0        41.0       90.0
ads_viewed_per_day                  19.0        27.0       50.0
ads_clicked_per_day                  4.0         7.0       20.0
time_on_feed_per_day                92.0       135.0      328.0
time_on_explore_per_day             34.0        53.0      171.0
time_on_messages_per_day            31.0        47.0      138.0
time_on_reels_per_day               54.0        80.0      222.0
followers_count                   1154.0      2459.0   208811.0
following_count                   1519.0      3451.0    10000.0
notification_response_rate           0.5        0.75        1.0
average_session_length_minutes      20.4        27.6       52.0
content_type_preference              NaN         NaN        NaN
preferred_content_theme              NaN         NaN        NaN
Nulos
Notnnull
Duplicados
0
Tamaño
Filas: 1547896 | Columnas: 35

In [26]:
df_ig.nunique()

user_id                           1547896
age                                    53
gender                                  4
country                                10
urban_rural                             3
income_level                            5
employment_status                       7
education_level                         9
relationship_status                     5
sleep_hours_per_night                  71
self_reported_happiness                10
hobbies_count                          11
social_events_per_month                16
books_read_per_year                    29
daily_active_minutes_instagram        552
sessions_per_day                       50
posts_created_per_week                 31
reels_watched_per_day                 283
stories_viewed_per_day                139
likes_given_per_day                   326
comments_written_per_day               81
dms_sent_per_week                      88
dms_received_per_week                  91
ads_viewed_per_day                     51
ads_clicked_per_day                    21
time_on_feed_per_day                  317
time_on_explore_per_day               160
time_on_messages_per_day              133
time_on_reels_per_day                 211
followers_count                     25685
following_count                      9981
notification_response_rate            101
average_session_length_minutes        342
content_type_preference                 6
preferred_content_theme                 8
dtype: int64

In [27]:
df_ig['country'].unique()

array(['India', 'United Kingdom', 'Canada', 'South Korea',
       'United States', 'Japan', 'Australia', 'Brazil', 'Other',
       'Germany'], dtype=object)

In [28]:
replace_country = { 'United Kingdom': 'UK', 'United States':'USA'}

In [29]:
df_ig['country'] = df_ig['country'].replace(replace_country)

In [30]:
filtered_country = ['USA', 'UK']
df_ig = df_ig[df_ig['country'].isin(filtered_country)]

In [31]:
df_ig

,user_id,age,gender,country,urban_rural,income_level,employment_status,education_level,relationship_status,sleep_hours_per_night,...,time_on_feed_per_day,time_on_explore_per_day,time_on_messages_per_day,time_on_reels_per_day,followers_count,following_count,notification_response_rate,average_session_length_minutes,content_type_preference,preferred_content_theme
1,2,64,Female,UK,Urban,Middle,Full-time employed,Other,Divorced,8.6,...,31,19,16,19,2585,3511,0.56,14.8,Photos,Fashion
5,6,20,Male,USA,Rural,Middle,Full-time employed,Bachelor’s,Married,5.8,...,29,6,12,13,259,534,0.13,16.3,Photos,Food
7,8,51,Female,UK,Urban,Middle,Full-time employed,Other,Single,7.7,...,167,49,50,87,190,77,0.22,20.1,Videos,Travel
8,9,31,Female,UK,Urban,Upper-middle,Retired,High school,Single,8.3,...,64,38,31,50,904,1129,0.98,12.8,Reels,Art
9,10,35,Male,USA,Urban,Low,Student,High school,Married,6.5,...,115,34,27,58,170,247,0.60,15.1,Reels,Tech
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1547887,1547888,18,Male,UK,Urban,High,Freelancer,Bachelor’s,Married,7.3,...,131,29,34,62,872,1190,0.35,11.6,Live,Food
1547888,1547889,57,Female,USA,Suburban,Low,Unemployed,Bachelor’s,Married,7.3,...,218,88,54,132,13272,7837,0.75,12.6,Reels,Fitness
1547889,1547890,34,Female,USA,Rural,Lower-middle,Full-time employed,Other,In a relationship,6.4,...,75,22,15,48,1182,1784,0.84,13.5,Live,Art
1547891,1547892,61,Female,USA,Suburban,High,Full-time employed,Master’s,Widowed,8.5,...,104,46,33,65,1265,1012,0.48,15.8,Videos,Other
1547892,1547893,42,Male,USA,Urban,Lower-middle,Full-time employed,Master’s,Divorced,6.1,...,44,9,11,26,1312,1348,0.14,38.0,Photos,Art

In [32]:
df_ig.columns

Index(['user_id', 'age', 'gender', 'country', 'urban_rural', 'income_level',
       'employment_status', 'education_level', 'relationship_status',
       'sleep_hours_per_night', 'self_reported_happiness', 'hobbies_count',
       'social_events_per_month', 'books_read_per_year',
       'daily_active_minutes_instagram', 'sessions_per_day',
       'posts_created_per_week', 'reels_watched_per_day',
       'stories_viewed_per_day', 'likes_given_per_day',
       'comments_written_per_day', 'dms_sent_per_week',
       'dms_received_per_week', 'ads_viewed_per_day', 'ads_clicked_per_day',
       'time_on_feed_per_day', 'time_on_explore_per_day',
       'time_on_messages_per_day', 'time_on_reels_per_day', 'followers_count',
       'following_count', 'notification_response_rate',
       'average_session_length_minutes', 'content_type_preference',
       'preferred_content_theme'],
      dtype='object')

# API

YouTube tiene miles de millones de vídeos, cuando busco "salud mental", Google no se pone a contar los vídeos uno por uno en ese momento (tardaría horas). En su lugar, usa un índice. Para ahorrar tiempo y energía, la API consulta una estimación estadística basada en ese índice. En lugar de darte el número exacto, te da el resultado de un cálculo de probabilidad: "Según mis índices actuales, hay aproximadamente X cantidad de vídeos que coinciden con estos términos".

In [33]:
api_key = 'AIzaSyD9ZhONEXUHYSs2I-7VzsFnBBMWOKr83aw' 
key_words = ['mental health', 'loneliness', 'social media addiction', 'depression', 'loss of attention', 'feel understood', 'anxiety']
countries = ['US', 'UK'] 
year = 2025


resultados = []
print("Iniciando extracción de datos... Por favor, espera.")

for word in key_words:
    print(f"Procesando tema: {word}...")
    for country in countries:
        search_url = "https://www.googleapis.com/youtube/v3/search"
        search_params = {
            'part': 'snippet',
            'q': word,
            'relevanceLanguage': 'en',
            'regionCode': f'{country}',
            'publishedAfter': f"{year}-01-01T00:00:00Z",
            'publishedBefore': f"{year}-12-31T23:59:59Z",
            'type': 'video',
            'maxResults': 50,
            'key': api_key
        }

        try:
            search_res = requests.get(search_url, params=search_params).json()
            video_ids = [item['id']['videoId'] for item in search_res.get('items', [])]
            total_amount_videos = search_res.get('pageInfo', {}).get('totalResults', 0)
            views = 0
            seconds_lenght = []
            
            if video_ids:
                stats_url = "https://www.googleapis.com/youtube/v3/videos"
                stats_params = {
                    'part': 'statistics,contentDetails',
                    'id': ','.join(video_ids),
                    'key': api_key
                }
                stats_res = requests.get(stats_url, params=stats_params).json()
                
                for v in stats_res.get('items', []):
                    views += int(v['statistics'].get('viewCount', 0))
                    iso_dur = v['contentDetails'].get('duration')
                    seconds_lenght.append(iso8601_to_seconds(iso_dur))

            media_duracion_min = (sum(seconds_lenght) / len(seconds_lenght) / 60) if seconds_lenght else 0
            
            resultados.append({
                'tema': word,
                'país': country,
                'año': year,
                'total_videos(estimado)': total_amount_videos,
                'visitas_top50': views,
                'duracion_media': round(media_duracion_min, 2),
                'engagement': round(views / len(video_ids), 2) if video_ids else 0
            })
            
            time.sleep(0.2)

        except Exception as e:
            print(f"Error procesando {word} en {country}: {e}")

# Crear DataFrame solo si hay datos
if resultados:
    df = pd.DataFrame(resultados)
    
    df = df.sort_values(by='visitas_top50', ascending=False)
    display(df)
    df.to_csv(index = False)
else:
    print("No se obtuvieron resultados. Revisa tu cuota de API o la conexión.")

Iniciando extracción de datos... Por favor, espera.
Procesando tema: mental health...
Procesando tema: loneliness...
Procesando tema: social media addiction...
Procesando tema: depression...
Procesando tema: loss of attention...
Procesando tema: feel understood...
Procesando tema: anxiety...

,tema,país,año,total_videos(estimado),visitas_top50,duracion_media,engagement
3,loneliness,UK,2025,1000000,101497559,4.81,2029951.18
12,anxiety,US,2025,1000000,86364241,10.11,1727284.82
10,feel understood,US,2025,238930,84659340,4.57,1693186.80
11,feel understood,UK,2025,238932,84318457,5.76,3372738.28
8,loss of attention,US,2025,258156,65699294,3.16,1313985.88
6,depression,US,2025,1000000,60125548,12.75,1202510.96
1,mental health,UK,2025,1000000,45602807,10.49,912056.14
0,mental health,US,2025,1000000,43883033,7.60,877660.66
5,social media addiction,UK,2025,267086,20040100,23.89,400802.00
4,social media addiction,US,2025,267098,19902533,25.35,398050.66
9,loss of attention,UK,2025,258159,17524131,3.53,700965.24
2,loneliness,US,2025,1000000,16789780,10.38,335795.60
13,anxiety,UK,2025,1000000,8821308,7.50,352852.32
7,depression,UK,2025,1000000,7868414,7.38,157368.28

In [34]:
df_yt = df.to_csv('df_yt.csv', index = False)

In [35]:
df_yt_csv = 'df_yt.csv'
df_yt= pd.read_csv (df_yt_csv)

# Conectar con SQL

In [36]:
password = getpass.getpass()
bd = "mental_social_health"
connection_string = 'mysql+pymysql://root:' + password + '@localhost/'+bd
engine = create_engine(connection_string)
engine

Engine(mysql+pymysql://root:***@localhost/mental_social_health)

In [39]:
df_mentalhealth.to_sql('tabla_mh', con=engine, if_exists='replace', index=False)
df_ig.to_sql('tabla_ig', con=engine, if_exists='replace', index=False)
df_yt.to_sql('tabla_yt', con=engine, if_exists='replace', index=False)

OperationalError: (pymysql.err.OperationalError) (1045, "Access denied for user 'root'@'localhost' (using password: YES)")
(Background on this error at: https://sqlalche.me/e/20/e3q8)

# Consulta

In [ ]:
df_mentalhealth.columns

Index(['age', 'gender', 'country', 'education', 'marital_status',
       'income_level', 'employment_status', 'exercise_per_week',
       'sleep_hours_night', 'caffeine_drinks_day', 'alcohol_frequency',
       'smoking', 'screen_time_hours_day', 'social_media_hours_day',
       'hobby_time_hours_week', 'feeling_sad_down', 'loss_of_interest',
       'sleep_trouble', 'fatigue', 'poor_appetite_or_overeating',
       'feeling_worthless', 'concentration_difficulty', 'anxious_nervous',
       'panic_attacks', 'mood_swings', 'irritability', 'obsessive_thoughts',
       'compulsive_behavior', 'self_harm_thoughts', 'suicidal_thoughts',
       'on_therapy_now', 'on_medication', 'social_support',
       'close_friends_count', 'feel_understood', 'loneliness',
       'discuss_mental_health', 'has_mental_health_issue'],
      dtype='object')

In [ ]:
df_ig.columns

Index(['user_id', 'age', 'gender', 'country', 'urban_rural', 'income_level',
       'employment_status', 'education_level', 'relationship_status',
       'sleep_hours_per_night', 'self_reported_happiness', 'hobbies_count',
       'social_events_per_month', 'books_read_per_year',
       'daily_active_minutes_instagram', 'sessions_per_day',
       'posts_created_per_week', 'reels_watched_per_day',
       'stories_viewed_per_day', 'likes_given_per_day',
       'comments_written_per_day', 'dms_sent_per_week',
       'dms_received_per_week', 'ads_viewed_per_day', 'ads_clicked_per_day',
       'time_on_feed_per_day', 'time_on_explore_per_day',
       'time_on_messages_per_day', 'time_on_reels_per_day', 'followers_count',
       'following_count', 'notification_response_rate',
       'average_session_length_minutes', 'content_type_preference',
       'preferred_content_theme'],
      dtype='object')

In [ ]:
df_yt

,tema,país,año,total_videos(estimado),visitas_top50,duracion_media,engagement
0,loneliness,UK,2025,1000000,96866237,4.77,1937324.74
1,anxiety,US,2025,1000000,85944252,9.60,1718885.04
2,feel understood,US,2025,239484,84909573,4.56,1698191.46
3,feel understood,UK,2025,239484,84312622,4.19,1686252.44
4,depression,US,2025,1000000,54753696,11.29,2190147.84
5,mental health,UK,2025,1000000,46175886,10.99,923517.72
6,loss of attention,US,2025,258844,31337559,3.72,1253502.36
7,social media addiction,US,2025,267947,19885744,25.35,397714.88
8,social media addiction,UK,2025,267935,19255143,24.82,385102.86
9,loss of attention,UK,2025,258844,17200298,3.70,688011.92
10,anxiety,UK,2025,1000000,16177579,8.56,323551.58
11,loneliness,US,2025,1000000,12375857,10.35,495034.28
12,depression,UK,2025,1000000,7842663,7.44,156853.26
13,mental health,US,2025,1000000,5012352,6.06,200494.08